HOST=
PORT=

SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

TODO_CORS_ALLOWED_ORIGINS=
TODO_CORS_ALLOWED_METHODS=
TODO_CORS_ALLOWED_HEADERS=
TODO_JWT_SIGNING_KEY=
TODO_JWT_EXPIRATION_TIME_IN_SECONDS=
TODO_USER_ROLES=

logging_level_<package name separated by '_'>=